<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <header>
  </header>
  <div class="container-fluid">
  <h1>{{pageTitle}}</h1>
  <p>Resize the browser window to see the effect.</p>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-push-6">
          <div class="well">{{coinBTC}}</div>
        </div>
        <div class="col-xs-6 col-sm-pull-6">
          <div class="well">{{coinETC}}</div>
        </div>
        <div class="col-xs-6 col-sm-push-6">
            <div class="well">{{coinNEO}}</div>
        </div>
        <div class="col-xs-6 col-sm-pull-6">
          <div class="well">Fourth Column</div>
        </div>
    </div>
  </div>
</div>

  <footer>
    <p>Copyright {{currentYear}}</p>
  </footer>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
